@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Home" asp-action="Logout" method="post">
      <button type="submit">LogOut</button>
</form>

<p>Use this area to provide additional information.</p>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
    
    <dt>access token</dt>
    <dd>@await ViewContext.HttpContext.Authentication.GetTokenAsync("access_token")</dd>

    <dt>refresh token</dt>
    <dd>@await ViewContext.HttpContext.Authentication.GetTokenAsync("refresh_token")</dd>
</dl>